= render partial: "/small_header"
.user-sign-up
  = render partial: "user_registar"
= render partial: "/small_footer"



= render partial: "/small_header"
.user-sign-up
  = render partial: "user_info"
= render partial: "/small_footer"

= render partial: "/small_header"
.user-sign-up
  = render partial: "user_sms_send"
= render partial: "/small_footer"

= render partial: "/small_header"
.user-sign-up
  = render partial: "user_sms_confirm"
= render partial: "/small_footer"

= render partial: "/small_header"
.user-sign-up
  = render partial: "user_address_info"
= render partial: "/small_footer"

= render partial: "/small_header"
.user-sign-up
  = render partial: "user_pay_info"
= render partial: "/small_footer"

= render partial: "/small_header"
.user-sign-up
  = render partial: "user_registar_complete"
= render partial: "/small_footer"
