= render "products/header"
.mypages
  .mypages__main
    .mypage--card
      .mypage--card__container
        .user-sign-up
          .user-sign-up__title
            %p  クレジットカード情報入力
          .user-sign-up__content  
            = form_with url: post_controll_user_sign_ups_path ,local: true  do |f|
              .user-sign-up__form
                .field
                  %i カード番号
                  %span.user-sign-up__form__required  必須
                  = f.email_field :email, autofocus: true,placeholder:"半角数字のみ",class:"user-form-input margin-bottom-none"
                .user-sign-up__form__card-images
                  = image_tag "visa.svg"
                  = image_tag "master-card.svg"
                  = image_tag "saison-card.svg"
                  = image_tag "jcb.svg"
                  = image_tag "american_express.svg"
                  = image_tag "dinersclub.svg"
                  = image_tag "discover.svg"
                .field
                  %i 有効期限
                  %span.user-sign-up__form__required  必須
                  %br
                  .user-sign-up__form__select.select-harf
                    = f.select :year, [["12", "12"], ["11", "11"]],  prompt:"--"
                    %span  月
                    = f.select :year, [["2019", "2019"], ["2018", "2018"]],  prompt:"--"
                    %span  年


                .field
                  %i セキュリティコード
                  %span.user-sign-up__form__required  必須
                  = f.email_field :email, autofocus: true,placeholder:"カード背面4桁もしくは3桁の番号",class:"user-form-input margin-bottom-none"

                .user-sign-up__form__text
                  .user-sign-up__form__text--right
                    %p.question-mark  ?
                    %p  カード裏面の番号とは？
                .actions
                  = f.submit "追加する",class:"user-login__form__submit user-btn"
  = render "products/side_bar" 
= render "products/footer"
= render "products/exhibit_btn"