= render "products/header"
.mypages
  .mypages__main
    .logout-contents
      .logout-contents__container
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  = render "products/side_bar" 
= render "products/footer"
= render "products/exhibit_btn"