= render "products/header"
.mypages
  .mypages__main
    = link_to "#", class:"mypage__profile" do
      = image_tag "/assets/oyaji.png", class:"mypage__profile__image"
      .mypage__profile__name 
        %h2 オヤジ
      .mypage__profile__info
        .mypage__profile__info__scores
          %p 評価
          %p 0
        .mypage__profile__info__items
          %p 出品数
          %p 100000
    .mypage__contents
      .mypage__content__title-first
        .mypage__announces
          = link_to "#", class: "mypage__announces__announce" do
            %img(src="/assets/mercari_icon 2.png" alt="logo" class="mypage__announces__announce__image")/
            .mypage__announces__announce__text
              %h2.mypage__announces__announce__message 例：事務局から個別メッセージ
              %p.mypage__announces__announce__past-time
      .mypage__content__title-second
        .mypage__todos
          .mypage__todos__todo
    .mypage__purchased
  = render "products/side_bar" 
= render "products/show"
= render "products/exhibit_btn"