= render "products/header"
.mypages
  .mypages__main
    .mypage--card
      .mypage--card__container
        = render "/card_form" 
  = render "products/side_bar" 
= render "products/footer"
= render "products/exhibit_btn"