.comments
  .comments__comment  
    - @comments.each do |comment|
      - if comment.user == current_user 
        -if comment.stamp.present?
          = link_to "#", class: "comments__comment__user-info comments__comment__user-info--current_user" do
            = image_tag "no-image.jpg", class: "comments__comment__user-info__image comments__comment__user-info__image--current_user"
            .comments__comment__user-info__name.comments__comment__user-info__name--current_user
              %h2 
                = comment.user.nickname
          .comments__comment__stamp--wrap.comments__comment__stamp--wrap--current_user
            .comments__comment__contents__past
              = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
              %p 
                = time_ago_in_words(comment.created_at)
              %p 既読
            .comments__comment__stamp.comments__comment__stamp--current_user
              - url = 'nyan' + comment.stamp + '.png'
              = image_tag url
        - else 
          = link_to "#", class: "comments__comment__user-info comments__comment__user-info--current_user" do
            = image_tag "no-image.jpg", class: "comments__comment__user-info__image comments__comment__user-info__image--current_user"
            .comments__comment__user-info__name.comments__comment__user-info__name--current_user
              %h2 
                = comment.user.nickname
          .comments__comment__contents.comments__comment__contents--current_user
            .comments__comment__contents__text
              %p 
                = simple_format(comment.content)
              .comments__comment__contents__past
                = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
                %p 
                  = time_ago_in_words(comment.created_at)
                %p 既読
      - else 
        -if comment.stamp.present?
          = link_to "#", class: "comments__comment__user-info" do
            = image_tag "no-image.jpg", class: "comments__comment__user-info__image"
            .comments__comment__user-info__name
              %h2 
                = comment.user.nickname
          .comments__comment__stamp--wrap
            .comments__comment__stamp
              = image_tag 'nyan1.png', alt: '', height: '', width: '', class: ''
            .comments__comment__contents__past
              = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
              %p 
                = time_ago_in_words(comment.created_at)
        - else
          = link_to "#", class: "comments__comment__user-info" do
            = image_tag "no-image.jpg", class: "comments__comment__user-info__image"
            .comments__comment__user-info__name
              %h2 
                = comment.user.nickname
          .comments__comment__contents
            .comments__comment__contents__text
              %p 
                = simple_format(comment.content)
              .comments__comment__contents__past
                = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
                %p 
                  = time_ago_in_words(comment.created_at)
      
  .comments__text
    %h3 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .comments__stamps
    - (1..5).each do |i|
      .comments__stamps__stamp{"data-product": @product.id,"data-stamp": i}
        - url = 'nyan' + i.to_s + '.png'
        = image_tag url,id: "stamp-#{i}"
  .comments__form
    = form_with model: @comment, id: "new_comment",local: true do |f|
      = f.text_area :content, class: "comments__form__text"
      .comments__form__text__stamp-btn
        = image_tag 'cat.png'
      = f.submit 'コメントする', class:"comments__form__submit",data:{product: @product.id}