.item--media--box
  .item--media--box__text
  %ul
    %li
      = link_to do
        = icon 'fab fa-facebook-square' ,class:"fa-facebook-square"
    %li
      = link_to do
        = icon 'fab fa-twitter-square' ,class:"fa-twitter-square"
    %li
      = link_to do
        = icon 'fab fa-pinterest-square' ,class:"fa-pinterest-square"
