.product_exibit
  .product_exibit__title
    %p  商品の情報を入力
  .product_exibit__contents
    = form_with model:[@product],id: "new-product" ,local: true  do |f|
      .product_exibit__image-box.clearfix
        .product_exibit__form
          .field
            %i 出品画像
            %span.product_exibit__form__required  必須
            %p  最大10枚までアップロードできます
        = f.label :image, class: "form-image" do
          .product_exibit__image-box__image#width-responce
            = f.file_field :image, multiple: true, style: "display:none"
            %pre
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
          .product_exibit__image-box__image.product_exibit__image-box__image--second#width-responce-second{ style: "display:none;"}
            %pre
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
        .product_exibit--wrap
          - if @images.present?
            - @images.each do |image|
              .product_exibit__add-card.count_cards
                .product_exibit__add-card__image
                  = image_tag "#{image.image[:medium].url}" 
                .product_exibit__add-card__btns
                  %p 編集
                  %p.product_exibit__add-card__btns--delete.card-delete-edit{"data-deleteid" => "#{image.id}"} 削除
      .product_exibit__content
        .product_exibit__form
          .field
            %i 商品名
            %span.product_exibit__form__required  必須
            = f.text_field :name, autofocus: true,placeholder:"商品名(必須40文字まで)",class:"product-form-input"
          .field
            %i 商品の説明
            %span.product_exibit__form__required  必須
            = f.text_area :detail, autofocus: true,placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",class:"product-form-input-text"
      .product_exibit__content.clearfix
        .product_exibit__form
          %span 商品の詳細
          .product_exibit__form__right
            .field
              %i カテゴリー
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.select :big_category_id, @big_category.map{|t| [t.name, t.id]},  prompt:"---"
                = f.select :middle_category_id,@middle_category.map{|t| [t.name, t.id]}, prompt:"---"
                = f.select :small_category_id,@small_category.map{|t| [t.name, t.id]},prompt:"---"

            .field
              %i ブランド
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.text_field :search_fake,placeholder:"例）シャネル",class:"product-form-input"
                .product_exibit__form__search-result
                = f.hidden_field :brand_id
            .field
              %i 商品の状態
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.select :status_id, @status.map{|t| [t.name, t.id]},  prompt:"---"

      .product_exibit__content.clearfix
        .product_exibit__form
          %span 配送について
          %span.question-mark  ?
          .product_exibit__form__right
            .field
              %i 配送料の負担
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.select :delivary_fee_id, @delivary_fee.map{|t| [t.name, t.id]},  prompt:"---"
            .field
              %i 配送の方法
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.select :delivary_way_id, @delivary_way.map{|t| [t.name, t.id]},  prompt:"---"
            .field
              %i 発送元の地域
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.select :shipping_origin_id, @shipping_origin.map{|t| [t.name, t.id]},  prompt:"---"
            .field
              %i 発送までの日数
              %span.product_exibit__form__required  必須
              %br
              .product_exibit__form__select.select-long
                = f.select :delivary_day_id, @delivary_day.map{|t| [t.name, t.id]},  prompt:"---"

      .product_exibit__content.clearfix
        .product_exibit__form
          %span 販売価格(300〜9,999,999)
          %span.question-mark  ?
          .product_exibit__form__right
            .field.product_exibit__form__top.clearfix
              .field.product_exibit__form__top__text
                %i 価格
                %span.product_exibit__form__required  必須
                %span.text-right  ¥              
              = f.text_field :price, autofocus: true,placeholder:"例)300",class:"product-form-input input-right"
            .field.product_exibit__form__middle.clearfix
              .field.product_exibit__form__middle__text__left
                %p 販売手数料 (10%)
              .field.product_exibit__form__middle__text__right
                %p -
            .field.product_exibit__form__bottom.clearfix
              .field.product_exibit__form__bottom__text__left
                %p 販売利益
              .field.product_exibit__form__bottom__text__right
                %p -

      .product_exibit__content
        .product_exibit__content__text
          %p  
            =link_to "禁止されている出品","#"
            、
            =link_to "行為","#"
            を必ずご確認ください。
          %p  
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売","#"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to "加盟店規約","#"
            に同意したことになります。
        .product_exibit__form
          .actions
            = f.submit "出品する",class:"user-login__form__submit user-btn"

          = link_to "もどる", "#", class:"product_exibit__form__back-btn" 
.exhibit-modal#exhibit-modal-2
  .exhibit-modal__content
    .exhibit-modal__content__image
      = image_tag 'osako.png', class: ''
    .exhibit-modal__content__alert
      %p 画像、半端ないって