.side-bar
  .side-bar__box
    = link_to "#", class:"side-bar__content" do
      %h3 マイページ
    = link_to "#", class:"side-bar__content" do
      %h3 お知らせ
    = link_to "#", class:"side-bar__content" do
      %h3 やることリスト
    = link_to "#", class:"side-bar__content" do
      %h3 いいね一覧
    = link_to "#", class:"side-bar__content" do
      %h3 出品する
    = link_to "#", class:"side-bar__content" do
      %h3 出品した商品 - 出品中
    = link_to "#", class:"side-bar__content" do
      %h3 出品した商品 - 取引中
    = link_to "#", class:"side-bar__content" do
      %h3 出品した商品 - 売却済み
    = link_to "#", class:"side-bar__content" do
      %h3 購入した商品 - 取引中
    = link_to "#", class:"side-bar__content" do
      %h3 購入した商品 - 過去の取引
    = link_to "#", class:"side-bar__content" do
      %h3 ニュース一覧
    = link_to "#", class:"side-bar__content" do
      %h3 評価一覧
    = link_to "#", class:"side-bar__content" do
      %h3 ガイド
    = link_to "#", class:"side-bar__content" do
      %h3 お問い合わせ
  .side-bar__box.side-bar__box--margin-top
    %h2.side-bar__box__text メルペイ
    = link_to "#", class:"side-bar__content" do
      %h3 売上・振込申請
    = link_to "#", class:"side-bar__content" do
      %h3 ポイント
  .side-bar__box.side-bar__box--margin-top
    %h2.side-bar__box__text 設定
    = link_to "#", class:"side-bar__content" do
      %h3 プロフィール
    = link_to "#", class:"side-bar__content" do
      %h3 発送元・お届け先住所変更
    = link_to "#", class:"side-bar__content" do
      %h3 支払方法
    = link_to "#", class:"side-bar__content" do
      %h3 メール/パスワード
    = link_to "#", class:"side-bar__content" do
      %h3 本人情報
    = link_to "#", class:"side-bar__content" do
      %h3 電話番号の確認
    = link_to "#", class:"side-bar__content" do
      %h3 ログアウト