.comments
  -# - @comments.eace do |comment|
  -# .comments__comment
    -# = link_to "user/#{comment.user.id}", class: "comments__comment__user-info" do
    -#   = image_tag comment.user.image.url, class: "comments__comment__user-info__image"
    -#   .comments__comment__user-info__name
    -#     = comment.user.name
    -# .comments__comment__contents
    -#   .comments__comment__contents__text
    -#     = simple_format(comment.text)
    -#   .comments__comment__contents__past
    -#     = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
    -#     %p ５日前
    -#     = icon "fas fa-flag", class: "comments__comment__contents__past--icon"
  .comments__comment  
    = link_to "#", class: "comments__comment__user-info" do
      = image_tag "oyaji.png", class: "comments__comment__user-info__image"
      .comments__comment__user-info__name
        %h2 オヤジ
    .comments__comment__contents
      .comments__comment__contents__text
        %p この商品を買うためにいきてきました
        .comments__comment__contents__past
          = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
          %p ５日前
.product-change
  = link_to "#", class: "product-change__back" do
    %p オヤジのキャミソール
  = link_to "#", class: "product-change__next" do
    %p どんぶり鉢
