= render partial: "/small_header"
= render partial: "product_exibit" 
= render partial: "/small_footer"
.fake-data-input{style:"display:none"}
  = form_with url: "",local: true  do |f|
    = f.hidden_field :fake_name, value: @brand.name
.exhibit-modal
  .exhibit-modal__content
    .exhibit-modal__content__title
      %p 編集が完了しました
    .exhibit-modal__content__text
      %p　あなたが編集した商品は「出品した商品一覧」からいつでも確認できます。
    = link_to root_path, class: "exhibit-modal__content__btn" do
      %p トップページへ移動する