= render partial: "header"

%div.main-top


  %div.slider-box
    %ul.slider
      %li
        = image_tag '/assets/top-image1' ,size: "500x300" 
      %li
        = image_tag '/assets/top-image1' ,size: "500x300" 








    
  %section.main-top__category
    %h2  ピックアップカテゴリー
    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") レディース新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100 
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る

  
    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") メンズ新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る



    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") ベビー・キッズ新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る


    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") コスメ・香水・美容新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る


  %section.main-top__category
    %h2  ピックアップブランド
    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") シャネル新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る  



    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") ルイヴィトン新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る   


    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") シュプリーム新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る   




    %section.main-top__category--box.clearfix
      %h3 
        %a(href="") ナイキ新着アイテム
      %div.main-top__category--box__items.clearfix
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
        %section.main-top__category--box__items__item.clearfix
          %a(href="")
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine" 
      %div.item-all
        %a(href="") 全ての商品を見る          

















= render partial: "footer"