= render partial: "header"

%div.main-top
  %div.slider-box
    %ul.slider
      %li
        = image_tag 'top-image1.png' ,size: "500x300" 
      %li
        = image_tag 'top-image1.png' ,size: "500x300" 

  %section.main-top__category
    %h2  ピックアップカテゴリー
    - @pickup_categories.each do |category|
      %section.main-top__category--box.clearfix
        %h3 
          = link_to "#{category.name}新着アイテム","#"  
        %div.main-top__category--box__items.clearfix
          - category.products.order("id desc").limit(4).each do |product|
            %section.main-top__category--box__items__item.clearfix
              = link_to product_path(product) do
                %div
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "207x219"
                %div
                  %h3.item-title 
                    = product.name 
                  %div.item-price 
                    = product.price
                    = icon 'fas fa-heart',class:"item-price-iine"   
      %div.item-all
        = link_to "全ての商品を見る","#"

  %section.main-top__category
    - @pickup_brands.each do |brand|
      %h2  ピックアップブランド
      %section.main-top__category--box.clearfix
        %h3 
          = link_to "#{brand.name}新着アイテム","#"  
        %div.main-top__category--box__items.clearfix
          - brand.products.order("id desc").limit(4).each do |product|
            %section.main-top__category--box__items__item.clearfix
              = link_to product_path(product) do
                %div
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "207x219"
                %div
                  %h3.item-title 
                    = product.name 
                  %div.item-price 
                    = product.price
                    = icon 'fas fa-heart',class:"item-price-iine"
        %div.item-all
          = link_to "全ての商品を見る","#"
      
= render partial: "footer"
= render "exhibit_btn"