= render partial: "header"

%div.main-top
  %div.slider-box
    %ul.slider
      %li
        = image_tag 'top-image1.png' ,size: "500x300" 
      %li
        = image_tag 'top-image1.png' ,size: "500x300" 
  = render "category_anchors"
  %section.main-top__category
    - @pickup_categories.each do |category|
      %section.main-top__category--box.clearfix{id:"category" + category.id.to_s}
        %section.main-top__category--box__top.clearfix
          %h3 
            = link_to "#{category.name}新着アイテム","#"  
          %div.item-all
            = link_to "もっと見る ＞","#"
        %div.main-top__category--box__items
          - category.products.order("id desc").limit(10).each do |product|
            %section.main-top__category--box__items__item.clearfix
              = link_to product_path(product) do
                %div.main-image
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "202x223"
                  %div.item-price__cover
                    = '¥ ' + product.price.to_s
                %div.item-title_box
                  %h3.item-title 
                    = product.name   
                     

  = render "brand_anchors"
  %section.main-top__category
    - @pickup_brands.each do |brand|
      %section.main-top__category--box.clearfix{id:"brand" + brand.id.to_s}
        %section.main-top__category--box__top.clearfix
          %h3 
            = link_to "#{brand.name}新着アイテム","#"  
          %div.item-all
            = link_to "もっと見る ＞","#"
        %div.main-top__category--box__items.clearfix
          - brand.products.order("id desc").limit(10).each do |product|
            %section.main-top__category--box__items__item.clearfix
              = link_to product_path(product) do
                %div.main-image
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "202x223"
                  %div.item-price__cover
                    = '¥ ' + product.price.to_s
                %div.item-title_box
                  %h3.item-title 
                    = product.name 
      
= render partial: "footer"
= render "exhibit_btn"