= render "products/header"
.mypages
  .mypages__main
    = render "mypage_card"
    -# サンプルです
    = render "mypage_identification"
    = render "logout"
    = render "mypage_profile"
  = render "products/side_bar" 
= render "products/footer"
= render "products/exhibit_btn"