= render partial: "header"
= render partial: "product_detail"
= render partial: "comment"
.product-change
  = link_to "#", class: "product-change__back" do
    %p オヤジのキャミソール
  = link_to "#", class: "product-change__next" do
    %p どんぶり鉢


.item--media--box
  .item--media--box__text
  %ul
    %li
      = link_to do
        = icon 'fab fa-facebook-square' ,class:"fa-facebook-square"
    %li
      = link_to do
        = icon 'fab fa-twitter-square' ,class:"fa-twitter-square"
    %li
      = link_to do
        = icon 'fab fa-pinterest-square' ,class:"fa-pinterest-square"
    
    
%div.main-top
  %section.main-top__category
    %section.main-top__category--box.clearfix#another-item 
      = link_to "#{@product.user.nickname}さんのその他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items.flex-start-box#another-cotegory
        -if @user_other_products.present?
          - @user_other_products.each do |product|
            %section.main-top__category--box__items__item#another-cotegory__item
              = link_to product_path(product) do
                %div
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "215x215"
                %div
                  %h3.item-title #{product.name}
                  %div.item-price 
                    ¥#{product.price.to_s(:delimited)}
                    = icon 'far fa-heart',class:"item-price-iine"
        -else
          %p まだ出品はありません



    %section.main-top__category--box.flex-start-box.clearfix#another-item 
      = link_to "#{@product.brand.name}の#{@product.small_category.name} その他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items.flex-start-box#another-cotegory
        -if @other_products.present?
          - @other_products.each do |product|
            %section.main-top__category--box__items__item#another-cotegory__item
              = link_to product_path(product) do
                %div
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "215x215"
                %div
                  %h3.item-title #{product.name}
                  %div.item-price 
                    ¥#{product.price.to_s(:delimited)}
                    = icon 'far fa-heart',class:"item-price-iine"
        -else
          %p まだ出品はありません




- breadcrumb :products, @product
.breadcrumbs.breadcrumbs--background-gray
  = breadcrumbs pretext: " ", separator: " &rsaquo; ", class: "breadcrumbs__list"
= render "products/footer"