= render partial: "header"

%div.item-detail.crearfix
  %h1 本日PM12:00削除！COACH コーチ バッグ
  %div.item-detail__content.crearfix
    %div.item-detail__content--image
      %div.item-detail__content--image__box
        %div 
          = image_tag 'top-image1.png' ,size: "300x300"
        %div
          = image_tag '/assets/top-image1.png' ,size: "60x60"
    
    %table.item-detail__content--table
      %tbody
        %tr
          %th  出品者
          %td  
            = link_to "出品者名","#" 
            %div
              = icon 'far fa-grin',class:"" 
              %span 10
              = icon 'far fa-meh',class:"" 
              %span 10
              = icon 'far fa-frown',class:"" 
              %span 10

              
        %tr
          %th  カテゴリー
          %td  
            %p  大カテゴリー
            %p  >中カテゴリー
            %p  >小カテゴリー
        %tr
          %th  ブランド
          %td
            = link_to "ブランド名","#" 
        %tr
          %th  商品の状態
          %td  目立った傷や汚れなし
            
        %tr
          %th  配送料の負担
          %td  送料込み(出品者負担)
        %tr
          %th  配送の方法
          %td  らくらくメルカリ便
        %tr
          %th  配送元地域
          %td
            = link_to "大阪","#" 
        %tr  
          %th  発送日の目安
          %td  1~2日で発送
  %div.item-detail__price
    %span.item-detail__price--fee  ¥7,000
    %span.item-detail__price--tax  (税込)
    %span 送料込み
  %section       
    = link_to "購入画面に進む","#" ,class: "item-detail__buybtn"
  %div.item-detail__description
    %p.item-detail__description--inner  テスト
  %div.item-detail__buttons
    = link_to "#" ,class:'item-detail__buttons--heart' do
      = icon 'far fa-heart',class:""
      %span いいね!
      %span 10
    = link_to "#" ,class:"item-detail__buttons--flag" do
      = icon 'far fa-flag',class:""
      %span 不適切な商品を報告
    = link_to "#" ,class:"item-detail__buttons--lock" do
      = icon 'fas fa-lock',class:""
      %span あんしん・あんぜんへの取り組み
.comments
  .comments__comment  
    = link_to "#", class: "comments__comment__user-info" do
      = image_tag "oyaji.png", class: "comments__comment__user-info__image"
      .comments__comment__user-info__name
        %h2 オヤジ
    .comments__comment__contents
      .comments__comment__contents__text
        %p この商品を買うためにいきてきました
        .comments__comment__contents__past
          = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
          %p ５日前
  .comments__text
    %h3 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉などはBanすることになるであります。
  .comments__form
    = form_with do |f|
      = f.text_area :text, class: "comments__form__text"
      = f.submit 'コメントする', class:"comments__form__submit"

.product-change
  = link_to "#", class: "product-change__back" do
    %p オヤジのキャミソール
  = link_to "#", class: "product-change__next" do
    %p どんぶり鉢


.item--media--box
  .item--media--box__text
  %ul
    %li
      = link_to do
        = icon 'fab fa-facebook-square' ,class:"fa-facebook-square"
    %li
      = link_to do
        = icon 'fab fa-twitter-square' ,class:"fa-twitter-square"
    %li
      = link_to do
        = icon 'fab fa-pinterest-square' ,class:"fa-pinterest-square"
    
    
%div.main-top
  %section.main-top__category
    %section.main-top__category--box.clearfix#another-item 
      = link_to "LoveFam♡お知らせ(有)さんのその他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items#another-cotegory
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
    %section.main-top__category--box.clearfix#another-item 
      = link_to "LoveFam♡お知らせ(有)さんのその他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items#another-cotegory
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
    %section.main-top__category--box.clearfix#another-item 
      = link_to "LoveFam♡お知らせ(有)さんのその他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items#another-cotegory
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"
        %section.main-top__category--box__items__item#another-cotegory__item
          = link_to "#" do
            %div
              = image_tag '/assets/top-image1' ,size: "215x215"
            %div
              %h3.item-title LIP SERVICEペイントストレッチデニム ,
              %div.item-price 
                ¥3100
                = icon 'fas fa-heart',class:"item-price-iine"                        
    