= render partial: "header"

= render partial: "product_detail"
= render partial: "comment"


%div.item-detail.crearfix
  %h1 #{@product.name}
  %div.item-detail__content.crearfix
    %div.item-detail__content--image
      %div.item-detail__content--image__box
        %div.item-detail__sold
          = image_tag "#{@product.images[0].image[:medium].url}",size: "300x300"
          - if @product.buyer_id.present?
            .item-detail__sold__text
              %h2 SOLD
        - @product.images.each do |image| 
          %div
            = image_tag "#{image.image[:medium].url}" ,size: "60x60"
    
    %table.item-detail__content--table
      %tbody
        %tr
          %th  出品者
          %td  
            = link_to "#{@product.user.nickname}","#" 
            %div
              = icon 'fas fa-grin',class:"" 
              %span 10
              = icon 'fas fa-meh',class:"" 
              %span 10
              = icon 'fas fa-frown',class:"" 
              %span 10

              
        %tr
          %th  カテゴリー
          %td  
            = link_to "#{@product.big_category.name}","#" 
            = link_to ">#{@product.middle_category.name}","#" 
            = link_to ">#{@product.small_category.name}","#" 
        %tr
          %th  ブランド
          %td
            = link_to "#{@product.brand.name}","#" 
        %tr
          %th  商品の状態
          %td  #{@product.status.name}
            
        %tr
          %th  配送料の負担
          %td  #{@product.delivary_fee.name}
        %tr
          %th  配送の方法
          %td  #{@product.delivary_way.name}
        %tr
          %th  配送元地域
          %td
            = link_to "#{@product.shipping_origin.name}","#" 
        %tr  
          %th  発送日の目安
          %td  #{@product.delivary_day.name}
  %div.item-detail__price
    %span.item-detail__price--fee  ¥#{@product.price.to_s(:delimited)}
    %span.item-detail__price--tax  (税込)
    - if @product.delivary_fee.name == "送料込み(出品者負担)"
      %span 送料込み
    - else 
      %span 着払い 
  %section    
    - if @product.buyer_id.present?
      = link_to "売り切れました", "https://zxcvbnmnbvcxz.com/" ,class: "item-detail__buybtn item-detail__buybtn--sold"  
    - else
      = link_to "購入画面に進む", buy_product_path(@product) ,class: "item-detail__buybtn"
  %div.item-detail__description
    = safe_join(@product.detail.split("\n"), tag(:br))
  %div.item-detail__buttons
    = link_to "#" ,class:'item-detail__buttons--heart' do
      = icon 'far fa-heart',class:""
      %span いいね!
      %span 10
    = link_to "#" ,class:"item-detail__buttons--flag" do
      = icon 'far fa-flag',class:""
      %span 不適切な商品を報告
    = link_to "#" ,class:"item-detail__buttons--lock" do
      = icon 'fas fa-lock',class:""
      %span あんしん・あんぜんへの取り組み
.comments
  .comments__comment  
    = link_to "#", class: "comments__comment__user-info" do
      = image_tag "oyaji.png", class: "comments__comment__user-info__image"
      .comments__comment__user-info__name
        %h2 オヤジ
    .comments__comment__contents
      .comments__comment__contents__text
        %p この商品を買うためにいきてきました
        .comments__comment__contents__past
          = icon "fas fa-clock", class: "comments__comment__contents__past--icon"
          %p ５日前
  .comments__text
    %h3 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .comments__form
    - if @product.buyer_id.present?
      = form_with do |f|
        = f.text_area :text, class: "comments__form__text", disabled: "disabled"
        = f.submit '売り切れのためコメントできまてん', class:"comments__form__submit", disabled: "disabled"
    - else 
      = form_with do |f|
        = f.text_area :text, class: "comments__form__text"
        = f.submit 'コメントする', class:"comments__form__submit"


.product-change
  = link_to "#", class: "product-change__back" do
    %p オヤジのキャミソール
  = link_to "#", class: "product-change__next" do
    %p どんぶり鉢


.item--media--box
  .item--media--box__text
  %ul
    %li
      = link_to do
        = icon 'fab fa-facebook-square' ,class:"fa-facebook-square"
    %li
      = link_to do
        = icon 'fab fa-twitter-square' ,class:"fa-twitter-square"
    %li
      = link_to do
        = icon 'fab fa-pinterest-square' ,class:"fa-pinterest-square"
    
    
%div.main-top
  %section.main-top__category
    %section.main-top__category--box.clearfix#another-item 
      = link_to "#{@product.user.nickname}さんのその他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items.flex-start-box#another-cotegory
        -if @user_other_products.present?
          - @user_other_products.each do |product|
            %section.main-top__category--box__items__item#another-cotegory__item
              = link_to product_path(product) do
                %div
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "215x215"
                %div
                  %h3.item-title #{product.name}
                  %div.item-price 
                    ¥#{product.price.to_s(:delimited)}
                    = icon 'far fa-heart',class:"item-price-iine"
        -else
          %p まだ出品はありません



    %section.main-top__category--box.flex-start-box.clearfix#another-item 
      = link_to "#{@product.brand.name}の#{@product.small_category.name} その他の出品","#" , class:"#another-item-color"
      %div.main-top__category--box__items.flex-start-box#another-cotegory
        -if @other_products.present?
          - @other_products.each do |product|
            %section.main-top__category--box__items__item#another-cotegory__item
              = link_to product_path(product) do
                %div
                  = image_tag "#{product.images[0].image[:medium].url}" ,size: "215x215"
                %div
                  %h3.item-title #{product.name}
                  %div.item-price 
                    ¥#{product.price.to_s(:delimited)}
                    = icon 'far fa-heart',class:"item-price-iine"
        -else
          %p まだ出品はありません




- breadcrumb :products, @product
.breadcrumbs.breadcrumbs--background-gray
  = breadcrumbs pretext: " ", separator: " &rsaquo; ", class: "breadcrumbs__list"
= render "products/footer"