%footer.mercari-logo-footer
  .mercari-logo-footer__contents
    %nav
      %ul
        %li
          = link_to "プライバシーポリシー","#"
        %li
          = link_to "メルカリ利用規約","#"
        %li
          = link_to "特定商取引に関する表記","#"
    .mercari-logo-footer__contents__img
      = link_to root_path, method: 'get' do
        = image_tag "logo-gray.svg"
    %p.mercari-logo-footer__contents__copy-right  © 2019 Mercari